.sidebar-new {
    padding-top: 6rem;
    width: 200px;
    background-color: #f8f2f2;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar-new  a {
    display: display;
    color: black;
  }
   
  .sidebar-new  a.active {
    background-color: #04AA6D;
    color: white;
  }
  
/*
  .sidebar-new  a:hover:not(.active) {
    background-color: #555;
    color: white;
  } 
*/
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar-new  {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar-new  a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar-new  a {
      text-align: center;
      float: none;
    }
  }